.meme-generator{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.meme-generator img{
    height: 430px;
    object-fit: cover;
    border: 2px solid #222;
}
.meme-generator .generate-meme-btn{
    padding: 8px 20px;
    border: none;
    background-color: rgb(86, 104, 203);
    margin: 24px 0;
    font-size: 20px;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 400ms ease;
}
.meme-generator .generate-meme-btn:hover{
   opacity: 0.7;

}
.meme-generator .meme-author {
    margin: 8px;
    color:rgb(81, 101, 218) ;
    font-size: 10px;
}
.meme-title{
    font-style: italic;
    color: #131313;
    
}